body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: url("../images/cursorAuto.svg"), auto;
    background-color: rgba(27, 0, 78, 1);
    flex-grow: 1;
    } 
    .section {
        overflow: hidden;
    }
    
    .first {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100vh;
    }
    .video1 {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: auto;
        z-index: 1;
    }
    .text1 {
        position: absolute;
        top: 15%;
        color: rgb(255, 255, 255);
        font-family: 'TTTravels-Light';
        font-size: 2vw;
        z-index: 2;
    }
    .img_container1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
    .img1 {
        z-index: 2;
        position: absolute;
        width: 80vw;
        top: 37%;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .button1 {
        position: absolute;
        z-index: 2;
        top: 77%;
        width: 20vw;
        height: 6vw;
        border-radius: 47px;
        color: white;
        stroke: none;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .button1_text {
        font-family: 'TTTravels-Regular';
        font-size: 2vw;
        color: black;
    }
    
    .second {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: relative;
        margin-top: 7vw;
    }
    
    .marquee_container {
        width: 100%;
        height: 3vw; 
        background-color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 1;
    }
    
    .marquee_text {
        font-family: 'TTTravels-Regular';
        font-size: 2vw;
        color: black;
        white-space: nowrap;
        width: max-content;
        animation: marquee 10s linear infinite;
        z-index: 2;
    }

    .text2 {
        position: absolute;
        color: white;
        font-family: 'TTTravels-Regular';
        font-size: 2vw;
        top: 35%;
    }

    .passwordfield {
        position: absolute;
        top: 50%;
        border-radius: 47px;
        width: 42vw;
        height: 6vw;
        cursor: url("../images/cursorWrite.svg"), text;
        z-index: 1;
    }

    .img_container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img2 {
        z-index: 2;
        position: absolute;
        width: 27vw;
        top: 53%;
        left: 2%;
    }
    
    .img_container3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img3 {
        z-index: 2;
        position: absolute;
        width: 8vw;
        top: 7%;
        left: 50%;
        rotate: -70deg;
    }
    
    .img_container4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img4 {
        z-index: 2;
        position: absolute;
        width: 13vw;
        top: 10%;
        left: 10%;
        rotate: -30deg;
    }
    
    .img_container5 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img5 {
        z-index: 2;
        position: absolute;
        width: 10vw;
        top: 39%;
        left: 30%;
        rotate: 150deg;
    }
    
    .img_container6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img6 {
        z-index: 2;
        position: absolute;
        width: 7vw;
        top: 50%;
        left: 78%;
        rotate: 60deg;
    }
    
    .img_container7 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img7 {
        z-index: 2;
        position: absolute;
        width: 5vw;
        top: 10%;
        left: 3%;
        rotate: 10deg;
    }
    
    .img_container8 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img8 {
        z-index: 2;
        position: absolute;
        width: 6vw;
        top: 65%;
        left: 20%;
        rotate: 100deg;
    }
    
    .img_container9 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img9 {
        z-index: 2;
        position: absolute;
        width: 7vw;
        top: 87%;
        left: 50%;
        rotate: 200deg;
    }
    
    .img_container10 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img10 {
        z-index: 2;
        position: absolute;
        width: 8vw;
        top: 10%;
        left: 90%;
        rotate: 300deg;
    }
    
    .img_container11 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img11 {
        z-index: 2;
        position: absolute;
        width: 11vw;
        top: 70%;
        left: 90%;
        rotate: 30deg;
    }
    
    .img_container12 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img12 {
        z-index: 2;
        position: absolute;
        width: 15vw;
        top: 80%;
        left: 36%;
        rotate: -100deg;
    }
    
    .img_container13 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img13 {
        z-index: 2;
        position: absolute;
        width: 8vw;
        top: 59%;
        left: 62%;
        rotate: 30deg;
    }

    .img_container14 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img14 {
        z-index: 2;
        position: absolute;
        width: 18vw;
        top: 57%;
        left: 67%;
        rotate: 270deg;
    }
    .img_container15 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        cursor: url("../images/cursorPointer.png"), pointer;
    }
    .img15 {
        z-index: 2;
        position: absolute;
        width: 14vw;
        top: 13%;
        left: 72%;
        rotate: 130deg;
    }

    .img2 {
        animation: spin1 8s linear infinite;
    }
    
    .img3 {
        animation: spin2 3s ease-in-out infinite;
    }
    
    .img4 {
        animation: spin3 5s linear infinite;
    }
    
    .img5 {
        animation: spin4 2s linear infinite;
    }
    
    .img6 {
        animation: spin5 6s ease-in-out infinite;
    }
    
    .img7 {
        animation: spin1 7s linear infinite;
    }
    
    .img8 {
        animation: spin2 4s ease-in-out infinite;
    }
    
    .img9 {
        animation: spin3 5s linear infinite;
    }
    
    .img10 {
        animation: spin4 3s linear infinite;
    }
    
    .img11 {
        animation: spin5 5s ease-in-out infinite;
    }
    
    .img12 {
        animation: spin1 6s linear infinite;
    }
    
    .img13 {
        animation: spin2 2.5s ease-in-out infinite;
    }
    
    .img14 {
        animation: spin3 4s linear infinite;
    }
    
    .img15 {
        animation: spin4 3.5s linear infinite;
    }
      
    .marquee_container2 {
        width: 100%;
        height: 3vw; 
        background-color: white;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 1;
    }

    .marquee_text2 {
        font-family: 'TTTravels-Regular';
        font-size: 2vw;
        color: black;
        white-space: nowrap;
        width: max-content;
        animation: marquee 10s linear infinite;
        z-index: 2;
    }

    .third {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100vh;
     position: relative;
     margin-top: 7vw;
    }
    .img_container16 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .img16 {
        z-index: 1;
        width: 100%;
        height: 100vh;
    }